{% set property = 'ccm-image-version-mapping, csi-image-version-mapping' %}
{% set k8s_versions = '1.30, 1.31, 1.32, 1.33, 1.34' %}
{% set l1_peer_reviewer = '[~lalit.s.singh@oracle.com]' %}
{% set l1_manager_reviewer = '[~rohit.chaware@oracle.com]' %}
{% set l2_peer_reviewer = '[~akarsh.ellore.sreenath@oracle.com]' %}
{% set l2_manager_reviewer = '[~sachin.goel@oracle.com]' %}
{% set changelog = '[CPO Release 1.15.0 changelog|https://confluence.oraclecorp.com/confluence/spaces/OCIOKE/pages/17451225964/OKE+CPO+Release+-+Version+v1.15.0]' %}
{% set pr = '[PR Link|https://bitbucket.oci.oraclecorp.com/projects/OKE/repos/oci-cloud-controller-manager/pull-requests/1861/overview]' %}
{% set e2e_ticket = '[E2E results|https://jira.oci.oraclecorp.com/browse/OKE-37971]' %}
{% set app_release_name = 'GammaDaisy' %}
{% set app_flock_config = '[https://devops.oci.oraclecorp.com/shepherd/projects/oke/flocks/oke-ccm-csi/configs/6029d69a-963d-4a1d-bf40-09f51e19aa70]' %}
{% set infra_release_name = 'GammaSpotless' %}
{% set infra_flock_config = '[https://devops.oci.oraclecorp.com/shepherd/projects/oke/flocks/oke-ccm-csi/configs/6029d69a-963d-4a1d-bf40-09f51e19aa70]' %}
{% set app_rollforward_test_link = 'https://devops.oci.oraclecorp.com/t/czjE6z' %}
{% set infra_rollforward_test_link = 'https://devops.oci.oraclecorp.com/t/PykgOZ' %}
{% set infra_rollback_release_name = 'GammaSmart' %}
{% set infra_rollback_test_link = 'https://devops.oci.oraclecorp.com/shepherd/projects/oke/flocks/oke-ccm-csi/configs/8fe23f71-2736-408c-800b-56f7c8314ed1' %}
{% set infra_rollback_config = '8fe23f71-2736-408c-800b-56f7c8314ed1' %}
{% set infra_rollback_config_link = 'https://devops.oci.oraclecorp.com/t/AesrvX' %}
{% set infra_rollback_commit = '58ddded205abd372e0f4517c4a28a2ac0580dc19' %}
{% set infra_rollback_commit_link = 'https://bitbucket.oci.oraclecorp.com/projects/oke/repos/oci-cloud-controller-manager/commits/58ddded205abd372e0f4517c4a28a2ac0580dc19' %}

{% macro images_list() %}
    "oke-public-cloud-provider-oci": "v1.30-96c0015d091-123",
    "oke-public-cloud-provider-oci": "v1.31-4a02373afc6-95",
    "oke-public-cloud-provider-oci": "v1.32-ef2027fef06-62",
    "oke-public-cloud-provider-oci": "v1.33-bc84e2150c0-32",
    "oke-public-cloud-provider-oci": "v1.34-0c1b9fd0583-5",
    "oke-public-cloud-provider-oci": "v1.34-0c1b9fd0583-5-csi",
{%- endmacro %}

{% macro mapping_changes() %}
    "v1.30" : "v1.30-96c0015d091-123@sha256:8a212296e276b28813a892c312fe5ef2575f4757ec9fa071d8a4a9d53773c92f",
    "v1.31" : "v1.31-4a02373afc6-95@sha256:c490bf17e378096f45f272db490046b00bd510712640d43b6b7994cd4d854c1c",
    "v1.32" : "v1.32-ef2027fef06-62@sha256:0512863caf84507a5e5e821f249ab4febd32ca2c1c94967047eec09d1fd5e542",
    "v1.33" : "v1.33-bc84e2150c0-32@sha256:22c45063310494359766def5e8c5dc07d2cdb15260c5390cfc0e8002bc04344c",
    "v1.34" : "v1.34-0c1b9fd0583-5@sha256:a5ef7fc7ee7eddbc13b1176f739edaf1e604092f840f95ae1e6df63c84c92832",
{%- endmacro %}

{% macro rollback_mapping() %}
    "v1.30" : "v1.30-b38c1eb59d9-122@sha256:8d9bdc648e85a02e74599c965bca488c4ed04193356ed666fda2be28b7f6f3c6",
    "v1.31" : "v1.31-a6832b543c2-89@sha256:3a07aeefee957255d20ce57276e43250c77f0365515d713faaaaf35e00761f13",
    "v1.32" : "v1.32-fd1b5537713-59@sha256:0e1b38c3956d7a8cfa36138828568e64a8633bfec1809a3ebeeba41a77cda48e",
    "v1.33" : "v1.33-1fb97431d5a-29@sha256:204aed3318628cd094f148653c808f0138bb59318898791104719ca91c2564c8"
{%- endmacro %}

{% set change_locations = [
"OC1-af-johannesburg-1",
"OC1-ap-batam-1",
"OC1-ap-chuncheon-1",
"OC1-ap-hyderabad-1",
"OC1-ap-kulai-1",
"OC1-ap-melbourne-1",
"OC1-ap-mumbai-1",
"OC1-ap-osaka-1",
"OC1-ap-seoul-1",
"OC1-ap-singapore-1",
"OC1-ap-singapore-2",
"OC1-ap-sydney-1",
"OC1-ap-tokyo-1",
"OC1-ca-montreal-1",
"OC1-ca-toronto-1",
"OC1-eu-amsterdam-1",
"OC1-eu-dublin-3",
"OC1-eu-frankfurt-1",
"OC1-eu-madrid-1",
"OC1-eu-marseille-1",
"OC1-eu-milan-1",
"OC1-eu-paris-1",
"OC1-eu-stockholm-1",
"OC1-eu-zurich-1",
"OC1-il-jerusalem-1",
"OC1-me-abudhabi-1",
"OC1-me-dubai-1",
"OC1-me-jeddah-1",
"OC1-me-riyadh-1",
"OC1-mx-monterrey-1",
"OC1-mx-queretaro-1",
"OC1-sa-bogota-1",
"OC1-sa-santiago-1",
"OC1-sa-saopaulo-1",
"OC1-sa-valparaiso-1",
"OC1-sa-vinhedo-1",
"OC1-uk-cardiff-1",
"OC1-uk-london-1",
"OC1-us-abilene-1",
"OC1-us-ashburn-1",
"OC1-us-boardman-1",
"OC1-us-chicago-1",
"OC1-us-dallas-1",
"OC1-us-desmoines-1",
"OC1-us-phoenix-1",
"OC1-us-quincy-1",
"OC1-us-saltlake-2",
"OC1-us-sanjose-1",
"OC1-us-shawnee-1",
"OC10-ap-dcc-canberra-1",
"OC11-us-gov-fortworth-3",
"OC11-us-gov-phoenix-3",
"OC11-us-gov-sterling-3",
"OC14-eu-dcc-dublin-1",
"OC14-eu-dcc-dublin-2",
"OC14-eu-dcc-milan-1",
"OC14-eu-dcc-milan-2",
"OC14-eu-dcc-rating-1",
"OC14-eu-dcc-rating-2",
"OC15-ap-dcc-gazipur-1",
"OC16-us-westjordan-1",
"OC17-us-dcc-phoenix-1",
"OC17-us-dcc-phoenix-2",
"OC17-us-dcc-phoenix-4",
"OC19-eu-frankfurt-2",
"OC19-eu-madrid-2",
"OC2-us-langley-1",
"OC2-us-luke-1",
"OC20-eu-jovanovac-1",
"OC21-me-dcc-doha-1",
"OC22-eu-dcc-rome-1",
"OC23-us-somerset-1",
"OC23-us-thames-1",
"OC24-eu-crissier-1",
"OC24-eu-dcc-zurich-1",
"OC25-ap-dcc-osaka-1",
"OC25-ap-dcc-tokyo-1",
"OC26-me-abudhabi-3",
"OC26-me-alain-1",
"OC27-us-dcc-swjordan-1",
"OC28-us-dcc-swjordan-2",
"OC29-me-abudhabi-2",
"OC29-me-abudhabi-4",
"OC3-us-gov-ashburn-1",
"OC3-us-gov-chicago-1",
"OC3-us-gov-phoenix-1",
"OC31-ap-hobsonville-1",
"OC31-ap-silverdale-1",
"OC35-ap-chuncheon-2",
"OC35-ap-seoul-2",
"OC35-ap-suwon-1",
"OC39-us-tukwila-3",
"OC4-uk-gov-cardiff-1",
"OC4-uk-gov-london-1",
"OC40-ap-osaka-2",
"OC40-ap-tatebayashi-1",
"OC41-me-dubai-2",
"OC41-me-dubai-3",
"OC5-us-tacoma-1",
"OC51-eu-budapest-1",
"OC6-us-gov-fortworth-1",
"OC6-us-gov-sterling-2",
"OC8-ap-chiyoda-1",
"OC8-ap-ibaraki-1",
"OC9-me-dcc-muscat-1",
"REGION1-us-seattle-1"
] %}
