{% set property = 'ccm-image-version-mapping' %}
{% set k8s_versions = '1.29, 1.30, 1.31, 1.32' %}
{% set l1_peer_reviewer = '[~dhananjay.nagargoje@oracle.com]' %}
{% set l1_manager_reviewer = '[~rohit.chaware@oracle.com]' %}
{% set l2_peer_reviewer = '[~jayasheelan.kumar@oracle.com]' %}
{% set l2_manager_reviewer = '[~sachin.goel@oracle.com]' %}
{% set changelog = '[CPO Release 1.8.0 changelog|https://confluence.oraclecorp.com/confluence/display/OCIOKE/OKE+CPO+Release+-+Version+%3A+v1.8.0]' %}
{% set pr = '[PR Link|https://bitbucket.oci.oraclecorp.com/projects/OKE/repos/oci-cloud-controller-manager/pull-requests/1546/overview]' %}
{% set e2e_ticket = '[E2E results|https://bitbucket.oci.oraclecorp.com/projects/OKE/repos/oci-cloud-controller-manager/pull-requests/1532/commits]' %}
{% set app_release_name = 'BetaGorilla' %}
{% set app_flock_config = '[17280259-14b6-4302-b29e-ce5e93a49490|https://devops.oci.oraclecorp.com/t/1hpD_K]' %}
{% set infra_release_name = 'GammaAppropriate' %}
{% set infra_flock_config = '[17280259-14b6-4302-b29e-ce5e93a49490|https://devops.oci.oraclecorp.com/t/1hpD_K]' %}
{% set app_rollforward_test_link = 'https://devops.oci.oraclecorp.com/t/23kIfO' %}
{% set infra_rollforward_test_link = 'https://devops.oci.oraclecorp.com/t/yUkd5U' %}
{% set infra_rollback_release_name = 'BetaWavy' %}
{% set infra_rollback_test_link = 'https://devops.oci.oraclecorp.com/t/HOGK_0' %}
{% set infra_rollback_config = '3b4adf4f-527d-4f8f-9e33-0ffb6aa58248' %}
{% set infra_rollback_config_link = 'https://devops.oci.oraclecorp.com/t/yMzseY' %}
{% set infra_rollback_commit = 'fc8cb060514' %}
{% set infra_rollback_commit_link = 'https://bitbucket.oci.oraclecorp.com/projects/oke/repos/oci-cloud-controller-manager/commits/fc8cb060514c3cd18127209ee0cf4b7b47c00497' %}

{% macro images_list() %}
    "oke-public-cloud-provider-oci": "v1.29-0911461af79-92",
    "oke-public-cloud-provider-oci": "v1.30-a67f7b269a7-85",
    "oke-public-cloud-provider-oci": "v1.31-c7e5bd92e29-43",
    "oke-public-cloud-provider-oci": "v1.32-c01d1d4113e-11",
{%- endmacro %}

{% macro mapping_changes() %}
    "v1.29" : "v1.29-0911461af79-92@sha256:ed06eeb4d53c3af81e3caf662c7057922dc1a39400b3a38ef281db0b3707113f",
    "v1.30" : "v1.30-a67f7b269a7-85@sha256:f0224f684ef8e32ea6435e51cb72dba3a6bd140f6ef8d7190cc1f6d7c669c1b0",
    "v1.31" : "v1.31-c7e5bd92e29-43@sha256:eff28f23a6c82e1d1539e5f3c4b65efe8fdf8ea615c6f9158592c630fc9f09d1",
    "v1.32" : "v1.32-c01d1d4113e-11@sha256:a797ab6fd015af36ce0a5570ccd741860672bccdd879b167fa16b1212ab77bc1"
{%- endmacro %}

{% macro rollback_mapping() %}
    "v1.29" : "v1.29-9fb67276896-88@sha256:bf72989625783bde02c57668bb45a0b95a4e162e22c33fcc379296544bf24e49",
    "v1.30" : "v1.30-355fd0c359b-81@sha256:8c5a4e0ba89ef4c6b166e66837509bd633d9c051797a184a832cb5fe50121e21",
    "v1.31" : "v1.31-ebe76e102e6-39@sha256:64b8ea55494fe1361b6aae7c5256ef9aba8d15837c1edf9f8cd2e07eb89984dd",
    "v1.32" : "v1.32-01ab1cd7cc9-5@sha256:e7992d6fbf4c61ec8de8b539528cd63b9f3d99948d09ffdafa39fd59949a4f70"
{%- endmacro %}

{% set change_locations = [
 "OC1-af-johannesburg-1",
 "OC1-ap-chuncheon-1",
 "OC1-ap-hyderabad-1",
 "OC1-ap-melbourne-1",
 "OC1-ap-mumbai-1",
 "OC1-ap-osaka-1",
 "OC1-ap-seoul-1",
 "OC1-ap-singapore-1",
 "OC1-ap-singapore-2",
 "OC1-ap-sydney-1",
 "OC1-ap-tokyo-1",
 "OC1-ca-montreal-1",
 "OC1-ca-toronto-1",
 "OC1-eu-amsterdam-1",
 "OC1-eu-frankfurt-1",
 "OC1-eu-madrid-1",
 "OC1-eu-marseille-1",
 "OC1-eu-milan-1",
 "OC1-eu-paris-1",
 "OC1-eu-stockholm-1",
 "OC1-eu-zurich-1",
 "OC1-il-jerusalem-1",
 "OC1-me-abudhabi-1",
 "OC1-me-dubai-1",
 "OC1-me-jeddah-1",
 "OC1-me-riyadh-1",
 "OC1-mx-monterrey-1",
 "OC1-mx-queretaro-1",
 "OC1-sa-bogota-1",
 "OC1-sa-santiago-1",
 "OC1-sa-saopaulo-1",
 "OC1-sa-valparaiso-1",
 "OC1-sa-vinhedo-1",
 "OC1-uk-cardiff-1",
 "OC1-uk-london-1",
 "OC1-us-ashburn-1",
 "OC1-us-chicago-1",
 "OC1-us-phoenix-1",
 "OC1-us-saltlake-2",
 "OC1-us-sanjose-1",
 "OC10-ap-dcc-canberra-1",
 "OC11-us-gov-fortworth-3",
 "OC11-us-gov-phoenix-3",
 "OC11-us-gov-sterling-3",
 "OC12-us-gov-ashburn-2",
 "OC12-us-gov-phoenix-2",
 "OC12-us-gov-saltlake-1",
 "OC12-us-gov-saltlakecity-1",
 "OC14-eu-dcc-dublin-1",
 "OC14-eu-dcc-dublin-2",
 "OC14-eu-dcc-milan-1",
 "OC14-eu-dcc-milan-2",
 "OC14-eu-dcc-rating-1",
 "OC14-eu-dcc-rating-2",
 "OC15-ap-dcc-gazipur-1",
 "OC16-us-westjordan-1",
 "OC17-us-dcc-phoenix-1",
 "OC17-us-dcc-phoenix-2",
 "OC17-us-dcc-phoenix-4",
 "OC19-eu-frankfurt-2",
 "OC19-eu-madrid-2",
 "OC2-us-langley-1",
 "OC2-us-luke-1",
 "OC20-eu-jovanovac-1",
 "OC21-me-dcc-doha-1",
 "OC22-eu-dcc-rome-1",
 "OC23-us-somerset-1",
 "OC23-us-thames-1",
 "OC24-eu-crissier-1",
 "OC24-eu-dcc-zurich-1",
 "OC25-ap-dcc-osaka-1",
 "OC25-ap-dcc-tokyo-1",
 "OC26-me-abudhabi-3",
 "OC26-me-alain-1",
 "OC27-us-dcc-swjordan-1",
 "OC28-us-dcc-swjordan-2",
 "OC29-me-abudhabi-2",
 "OC29-me-abudhabi-4",
 "OC3-us-gov-ashburn-1",
 "OC3-us-gov-chicago-1",
 "OC3-us-gov-phoenix-1",
 "OC31-ap-hobsonville-1",
 "OC31-ap-silverdale-1",
 "OC35-ap-chuncheon-2",
 "OC35-ap-seoul-2",
 "OC35-ap-suwon-1",
 "OC4-uk-gov-cardiff-1",
 "OC4-uk-gov-london-1",
 "OC5-us-tacoma-1",
 "OC6-us-gov-fortworth-1",
 "OC6-us-gov-sterling-2",
 "OC7-us-gov-sterling-1",
 "OC8-ap-chiyoda-1",
 "OC8-ap-ibaraki-1",
 "OC9-me-dcc-muscat-1"
] %}
